$color-cabaret:#d35266;
$color-grey:#888;
$color-eclipse:#333;

.color-cabaret {
  background-color: $color-cabaret;
}

.text-cabaret {
  color: $color-cabaret;
}

.color-grey {
  background-color: $color-grey;
}

.text-grey {
  color: $color-grey;
}

.color-eclipse {
  background-color: $color-eclipse;
}

.text-eclipse {
  color: $color-eclipse;
}
