$color-cabaret:#D35266;
$color-grey:#888888;
$color-eclipse:#333333;


.color-cabaret {
  background-color: $color-cabaret;
}

.color-grey {
  background-color: $color-grey; 
}

.color-eclipse {
  background-color: $color-eclipse;
}
