.carousel-item {
  height: 250px;

  img {
    object-fit: cover;
  }
}


#carouselSlides {


  a span {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    background-color: $color-grey;

    &:hover {
      background-color: $color-eclipse;
    }
  }

  button {
    border-radius: 5px;
    background-color: $color-cabaret;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #d68d98;
    }
  }

}