.carousel-item{
  height: 250px;

  img{
    object-fit: cover;
  }
}


#carouselSlides{


  a span{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    background-color: $color-grey;

    &:hover{
      background-color: $color-eclipse;
    }
  }
}

// left button
.prev-slide{
  margin-right: 15vw;
}

// right button
.next-slide{
  margin-left: 15vw;
}