.showcase-form {

  * {
    height: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    opacity: 1;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    width: 100px;
    padding: 7px;
    outline: none;

    &:hover {
      color: white;
    }
  }
}