.showcase-form {
  width: 750px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  * {
    height: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    opacity: 1;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    width: 100px;

    &:hover {
      color: wheat;
    }
  }

}