@import "../base/variables";

.showcase {
  margin-top: 60px;
  background-image: url("../../../images/showcase-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background: $color-cabaret;
  }

  &>div *{
    z-index: 1000;
  }

  @media only screen and (max-width: 767px) {
    & .quote{
      font-size: 18px;
    }
  }

}