@import "base/variables.scss";
@import "base/global";
@import "base/mixins";
@import "base/animations";
@import "base/typography";

@import "components/showcase_form";
@import "components/carousel";
@import "components/items-segment";

@import "layouts/header";
@import "layouts/showcase";
@import "layouts/best-sellers";
@import "layouts/footer";